<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alireza.farghadani.blueberry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/b_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/ntwork_security_config"
        android:theme="@style/Theme.بلوبری"
        android:usesCleartextTraffic="true">
        <activity android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".login_page"
            android:screenOrientation="portrait" />

        <activity android:name=".class_manage_screen"
            android:screenOrientation="portrait" />

        <activity android:name=".student_manage_Views"
            android:screenOrientation="portrait"/>
        <activity android:name=".point_seter_View" />
        <activity android:name=".class_chart_view" />

    </application>

</manifest>